.app {
  display: flex;
  flex-direction: row;
  width: 300px;
  display: flex;
  margin-right: 20px;
}

.classifierContainer {
  display: flex;
  flex-direction: row;

  .imgContainer {
    max-height: 400px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }

  img {
    height: 100%;
    max-height: 600px;
  }
}

.info {
  margin: 0 20px 0 0;

  h2 {
    margin-top: 0;
  }

  a {
    color: #100382bd;
    text-decoration: underline;
  }
}
