.loader {
  opacity: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: rgba(0,0,0,0.3);

  img {
    height: auto;
    width: auto;
  }
}

.container {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px dashed rgba(0,0,0,0.2);

  .img {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
  }

  &.images {
    border: 2px dashed rgba(0,0,0,0);
  }
}
